In [316]:
import pandas as pd
import numpy as np
dimension_path = "../DimensionsPre/"
data_path = "../Data/"

In [317]:
Date_dimension = pd.read_csv(dimension_path+"Date_dimension/Date_dimension.csv")
Mobility_dimension = pd.read_csv(dimension_path+"Mobility_dimension/Mobility_dimension.csv")
Patient_dimension = pd.read_csv(dimension_path+"Patient_dimension/Patient_dimension.csv")
PHU_Location_dimension = pd.read_csv(dimension_path+"PHU_Location_dimension/PHU_Location_dimension.csv")
Special_Measures_dimension = pd.read_csv(dimension_path+"Special_Measures_dimension/Special_Measures_dimension.csv")
Weather_dimension = pd.read_csv(dimension_path+"Weather_dimension/Weather_dimension.csv")

In [318]:
cases = pd.read_csv(data_path+"IndividualCasesInOntario.csv")
cases.head()

,_id,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,1,2020-06-04T00:00:00,2020-06-06T00:00:00,2020-06-06T00:00:00,2020-06-04T00:00:00,50s,FEMALE,CC,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
1,2,2,2020-06-01T00:00:00,2020-06-03T00:00:00,2020-06-03T00:00:00,2020-06-02T00:00:00,30s,MALE,CC,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
2,3,3,2020-05-30T00:00:00,2020-06-02T00:00:00,2020-06-02T00:00:00,2020-05-30T00:00:00,20s,MALE,CC,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
3,4,4,2020-04-15T00:00:00,2020-04-17T00:00:00,2020-04-17T00:00:00,2020-04-16T00:00:00,80s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
4,5,5,2020-04-18T00:00:00,2020-04-21T00:00:00,2020-04-21T00:00:00,2020-04-18T00:00:00,20s,MALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893

In [319]:
toronto = cases[cases["Reporting_PHU_City"]=="Toronto"]

In [320]:
ottawa = cases[cases["Reporting_PHU_City"]=="Ottawa"]

In [321]:
frames = [toronto, ottawa]
cases = pd.concat(frames)

In [322]:
cases["Accurate_Episode_Date"] = pd.to_datetime(cases["Accurate_Episode_Date"]).dt.strftime('%Y-%m-%d')
cases["Case_Reported_Date"] = pd.to_datetime(cases["Case_Reported_Date"]).dt.strftime('%Y-%m-%d')
cases["Test_Reported_Date"] = pd.to_datetime(cases["Test_Reported_Date"]).dt.strftime('%Y-%m-%d')
cases["Specimen_Date"] = pd.to_datetime(cases["Specimen_Date"]).dt.strftime('%Y-%m-%d')

cases = cases.fillna({'Outbreak_Related':'Unknown'})[:1000]

In [323]:
cases["Reporting_PHU_City"].isna().sum()

0

In [324]:
# fact_table =  pd.DataFrame(columns=['Onset_date_key','Reported_date_key','Test_date_key', 'Specimen_date_key', 'Patient_key',"PHU_location_key","Mobility_key","Special_measure_key","Weather_key","Resolved","Unresolved","Fatal"])
# fact_table =  pd.DataFrame(columns=['Onset_date_key','Reported_date_key','Test_date_key', 'Specimen_date_key', 'Patient_key'])
fact_table =  pd.DataFrame(columns=['Onset_date_key','Reported_date_key','Test_date_key', 'Specimen_date_key', 'Patient_key', "PHU_location_key","Mobility_key","Resolved","Unresolved","Fatal"])
# fact_table =  pd.DataFrame(columns=['Onset_date_key']

In [325]:
fact_table.head()

Empty DataFrame
Columns: [Onset_date_key, Reported_date_key, Test_date_key, Specimen_date_key, Patient_key, PHU_location_key, Mobility_key, Resolved, Unresolved, Fatal]
Index: []

In [326]:
#TO REMOVED:df.dropna(axis=0,how='any')
cases = cases.dropna(axis=0,how='any')
# cases = cases.head()
rows = 0
Resolved,Unresolved,Fatal = 0,0,0




for idx, row in cases.iterrows():
    rows += 1
    percentage = str(round((rows/len(cases))*100, 2)  )
    print("%s/%s - %s%% "%(str(rows),str(len(cases)),percentage),end = "\r")
    
    if (row["Outcome1"] == "Resolved"):
        Resolved+=1
    elif (row["Outcome1"] == "Not Resolved"):
        Unresolved+=1
    else:
        Fatal+=1
    
    fact_row = [
        Date_dimension[Date_dimension["date"]==row["Accurate_Episode_Date"]]["surrogate_key"].values[0],
        Date_dimension[Date_dimension["date"]==row["Case_Reported_Date"]]["surrogate_key"].values[0],
        Date_dimension[Date_dimension["date"]==row["Test_Reported_Date"]]["surrogate_key"].values[0],
        Date_dimension[Date_dimension["date"]==row["Specimen_Date"]]["surrogate_key"].values[0],
        Patient_dimension[(Patient_dimension["Age_Group"]==row["Age_Group"])&(Patient_dimension["Client_Gender"]==row["Client_Gender"])&(Patient_dimension["Case_AcquisitionInfo"]==row["Case_AcquisitionInfo"])&(Patient_dimension["Outbreak_Related"]==row["Outbreak_Related"])]["surrogate_key"].values[0],
        PHU_Location_dimension[PHU_Location_dimension["Reporting_PHU_ID"]==row["Reporting_PHU_ID"]]["surrogate_key"].values[0],
        Mobility_dimension[(Mobility_dimension["sub_region_2"]==row["Reporting_PHU_City"])&(Mobility_dimension["date"]==row["Case_Reported_Date"])]["surrogate_key"].values[0], #TODO Case_Reported_Date???
        Resolved,Unresolved,Fatal

               
        ]
    fact_table.loc[len(fact_table)] = fact_row

In [327]:
cases["Test_Reported_Date"].drop_duplicates()

2950     2020-11-27
3435     2021-02-03
3612     2020-11-25
3770     2020-11-26
5581     2021-02-20
            ...
10274    2020-09-25
11823    2021-01-01
11888    2021-01-05
11891    2021-01-30
12274    2020-04-07
Name: Test_Reported_Date, Length: 175, dtype: object

In [328]:
len(cases)

772

In [329]:
fact_table.shape

(772, 10)

In [330]:
fact_table

,Onset_date_key,Reported_date_key,Test_date_key,Specimen_date_key,Patient_key,PHU_location_key,Mobility_key,Resolved,Unresolved,Fatal
0,327,331,331,327,61,24,286,1,0,0
1,327,331,331,327,11,24,286,2,0,0
2,331,331,399,329,49,24,286,3,0,0
3,328,331,329,328,145,24,286,4,0,0
4,329,330,330,329,10,24,285,5,0,0
...,...,...,...,...,...,...,...,...,...,...
767,370,370,395,369,42,24,325,634,121,13
768,363,370,364,363,79,24,325,635,121,13
769,96,97,97,96,40,24,52,636,121,13
770,94,97,97,95,17,24,52,637,121,13
771,94,97,97,95,4,24,52,638,121,13

In [331]:
cases["Outcome1"].drop_duplicates()

2950        Resolved
5586    Not Resolved
5660           Fatal
Name: Outcome1, dtype: object

In [332]:
fact_table.to_csv("Covid-19_Tracking_Fact_Table.csv",index=False)

In [333]:
Mobility_dimension["sub_region_2"].drop_duplicates()

0      Toronto
382     Ottawa
Name: sub_region_2, dtype: object

In [334]:
cases["Reporting_PHU_City"].drop_duplicates()

2950    Toronto
Name: Reporting_PHU_City, dtype: object