In [1]:
import pandas as pd
import numpy as np

In [2]:
location_dimension = pd.read_csv("location_dimension.csv")
weather_dimension = pd.read_csv("weather_dimension.csv")
accident_dimension = pd.read_csv("accident_dimension.csv")
time_dimension = pd.read_csv("time_dimension.csv")
date_dimension = pd.read_csv("date_dimension.csv")

In [3]:
collisions = pd.read_csv("h2017collisionsfinal.csv")
collisions = collisions[:50]

In [4]:
collisions["Time"] = pd.to_datetime(collisions["Time"]).dt.strftime('%H:%M:%S')

In [5]:
time_dimension["time_of_day"] = pd.to_datetime(time_dimension["time_of_day"] ).dt.strftime('%H:%M:%S')

In [6]:
# fact_table =  pd.DataFrame(columns=['Location_ID','Accident_ID','Date_ID', 'Time_ID', 'Weather_ID',"Is_Fatal","Is_Intersection"])
fact_table =  pd.DataFrame(columns=['Date_ID'])

In [7]:
collisions = collisions[6:9]

In [8]:
collisions

,Record,Location,X,Y,Longitude,Latitude,Year,Date,Time,Environment,Road_Surface,Traffic_Control,Collision_Location,Light,Collision_Classification,Impact_type
6,7,225 E OF RIVERSIDE DR / T & T SC @ HUNT CLUB RD,368235.69760,5.022056e+06,-75.69064,45.33558,2017,2017-01-10,20:34:00,03 - Snow,05 - Packed snow,01 - Traffic signal,02 - Intersection related,07 - Dark,03 - P.D. only,03 - Rear end
7,8,2ND LINE RD @ CABIN RD,375653.18807,5.002682e+06,-75.59877,45.16056,2017,2017-11-20,09:57:00,03 - Snow,06 - Ice,03 - Yield sign,03 - At intersection,01 - Daylight,03 - P.D. only,07 - SMV other
8,9,2ND LINE RD btwn OSGOODE MAIN ST & HUGH CRES,376117.45339,5.001581e+06,-75.59302,45.15060,2017,2017-07-04,21:45:00,01 - Clear,01 - Dry,10 - No control,01 - Non intersection,07 - Dark,03 - P.D. only,07 - SMV other

In [11]:

for idx, row in collisions.iterrows():

    fact_row = [location_dimension[(np.isclose(location_dimension["Longitude"],row["Longitude"]))&(np.isclose(location_dimension["Latitude"],row["Latitude"]))]["Location_ID"].values[0] ,
                row["Record"],
                date_dimension[date_dimension["Date"]==row["Date"]]["DateNum"].values[0],
                time_dimension[time_dimension["time_of_day"]==row["Time"]]["ID"].values[0],
                weather_dimension[(weather_dimension["LOCAL_DATE"]==row["Date"])&(weather_dimension["STATION_NAME"]=="OTTAWA INTL A")]["ID"].values[0]        
               ]
    
    fatal_id = int(row['Collision_Classification'].split("-")[0].strip())
    intersection_id = int(row['Collision_Location'].split("-")[0].strip())
    
    fact_row += [ 1 if fatal_id == 1 else 0 ,
                           1 if intersection_id == 3 else 0 ]
    
    fact_table.loc[len(fact_table)] = fact_row

In [12]:
fact_table

,Location_ID,Accident_ID,Date_ID,Time_ID,Weather_ID,Is_Fatal,Is_Intersection
0,6,7,20170110,1234,61060012017110,0,0
1,7,8,20171120,597,610600120171120,0,1
2,8,9,20170704,1305,6106001201774,0,0

In [14]:
fact_table_final =  pd.DataFrame(columns=['Location_surrogate','Accident_surrogate','Date_surrogate', 'Time_surrogate', 'Weather_surrogate',"Is_Fatal","Is_Intersection"])

Replacing with surrogate keys

In [15]:

for idx, row in fact_table.iterrows():
    fact_row = [location_dimension[location_dimension["Location_ID"]==row["Location_ID"]]["Location_surogate_key"].values[0],
                accident_dimension[accident_dimension["Accident_ID"]==row["Accident_ID"]]["Accident_surogate_key"].values[0],
                date_dimension[date_dimension["DateNum"]==row["Date_ID"]]["Dates_surrogate_key"].values[0],
                time_dimension[time_dimension["ID"]==row["Time_ID"]]["surrogate_key"].values[0],
                weather_dimension[weather_dimension["ID"]==row["Weather_ID"]]["surrogate_key"].values[0],
                row["Is_Fatal"],row["Is_Intersection"]
               ]

    
    fact_table_final.loc[len(fact_table_final)] = fact_row

In [16]:
fact_table_final

,Location_surrogate,Accident_surrogate,Date_surrogate,Time_surrogate,Weather_surrogate,Is_Fatal,Is_Intersection
0,206,106,9506,1334,162,0,0
1,207,107,9820,697,476,0,1
2,208,108,9681,1405,337,0,0

In [17]:
weather_dimension_final = weather_dimension[[ 'surrogate_key', 'ID', 
       'MEAN_TEMPERATURE',  'MIN_TEMPERATURE',
       'MAX_TEMPERATURE', 
       'TOTAL_PRECIPITATION',  'TOTAL_RAIN',
        'TOTAL_SNOW', 'DIRECTION_MAX_GUST', 
       'SPEED_MAX_GUST', 'COOLING_DEGREE_DAYS',
      'HEATING_DEGREE_DAYS']]

In [19]:
weather_dimension_final.to_csv("final_weather_dimension.csv",index=False)