In [19]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

dataPath = "../../Data/"

In [20]:
Date_dimension = pd.read_csv(dataPath+"calendar.csv")

In [21]:
Date_dimension = Date_dimension[Date_dimension["year"]==2020]

In [22]:
# process?

In [23]:
Date_dimension.head()

,sasdate,date_key,word_date,date,year,quarter,month,day_of_month,week,day_of_week,weekday,month_and_year,holiday,timezone_id,timezone,timezone_offset
21914,21915,10120,"January 1, 2020",01/01/2020,2020,1,1,1,0,Wed,4,JAN1960,NEWYEAR,ETC/GMT+7,GMT-07:00,-25200
21915,21916,10220,"January 2, 2020",01/02/2020,2020,1,1,2,0,Thu,5,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200
21916,21917,10320,"January 3, 2020",01/03/2020,2020,1,1,3,0,Fri,6,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200
21917,21918,10420,"January 4, 2020",01/04/2020,2020,1,1,4,0,Sat,7,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200
21918,21919,10520,"January 5, 2020",01/05/2020,2020,1,1,5,1,Sun,1,JAN1960,NaN,ETC/GMT+7,GMT-07:00,-25200

In [24]:
Date_dimension.insert(0, "surrogate_key",  np.arange(len(Date_dimension)))
Date_dimension.to_csv("Date_dimension.csv",index=False)